<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dateTypes" value="76,75,611,108,109,685,779,615"/>
    <!--<add key="excel file" value="c:\temp\pJETS VS PILOTS SKED 06 April 2017 New.xlsx"/>
    <add key="sheet name" value=""/>
    <add key="airplane names start row" value=""/>
    <add key="airplane names start column" value=""/>
    <add key="stop row" value=""/>
    <add key="stop column" value=""/>
    <add key="calendar start row" value=""/>
    <add key="calendar start column" value=""/>
    <add key="min date" value=""/>
    <add key="days to extract" value=""/>
    <add key="output text file" value=""/>-->
  </appSettings>
</configuration>